<div class="addnotebutton">
    <button>
      <span class="material-symbols-outlined">
        add_alert
      </span>
    </button>
    <button>
      <span class="material-symbols-outlined">
        person_add
      </span>
    </button>
    <button id="3" class="moreicons" [matMenuTriggerFor]="palletemenu">
    <span class="material-symbols-outlined">
      palette
    </span>
  </button>
    <button>
    <span class="material-symbols-outlined">
      image
    </span>
  </button>
    <button>
    <span class="material-symbols-outlined" (click)="onArchiev()">
      archive
    </span>
  </button>
    <button>
    <span class="material-symbols-outlined">
      more_vert
    </span>
  </button>
    <mat-menu #palletemenu="matMenu" xPosition="before" id="colorpallete" class="test2">
        <div *ngFor='let colors of colorArray'>
            <button class="coloricon" [style.background]="colors.code" (click)="selectColor(colors)">
            </button>
        </div>
    </mat-menu>
</div>