.logo {
    background: #fff;
    text-align: center;
    width: 3rem;
    min-width: 3rem;
    border-radius: 0.313rem;
    padding: 0.313rem;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    border: none;
    margin-left: 20px;
}

.image-text {
    margin-left: 20px;
    font-size: 20px;
}

.image-text1 {
    margin-left: 40px;
    font-size: 20px;
}

.ref {
    margin-left: 30px;
    cursor: pointer;
}

.ref1 {
    margin-left: 50px;
    cursor: pointer;
}

.ref2 {
    margin-left: 70px;
    cursor: pointer;
}

.image-text2 {
    margin-left: 90px;
    font-size: 30px;
    cursor: pointer;
}

.ref3 {
    margin-left: 200px;
    cursor: pointer;
}

.allname {
    margin-bottom: 20px;
}

.name1 {
    margin-left: 40px;
    margin-bottom: 60px;
    cursor: pointer;
}

.name1c {
    margin-left: 30px;
    margin-bottom: 60px;
    cursor: pointer;
}

.h3 {
    margin-left: 90px;
}

.container {
    margin-bottom: 40px;
}

.name2 {
    margin-left: 40px;
    margin-bottom: 80px;
    cursor: pointer;
}

.name2c {
    margin-left: 30px;
    margin-bottom: 80px;
    cursor: pointer;
}

.h4 {
    margin-left: 90px;
}

.name3 {
    margin-left: 40px;
    margin-bottom: 100px;
    cursor: pointer;
}

.name3c {
    margin-left: 30px;
    margin-bottom: 100px;
    cursor: pointer;
}

.h5 {
    margin-left: 90px;
}

.boxx {
    margin-left: 550px;
    margin-bottom: 280px;
}

.fchat {
    margin-left: 350px;
}