<div class="all">
    <div class="container">
        <div class="sidenav">
            <button class="logo">
        <span class="material-symbols-outlined">
            menu
        </span>
        </button>
            <span class="image-text">CHATS</span>
            <span class="image-text1">CALLS</span>
            <i class="ref">
            <span class="material-symbols-outlined">
                search
            </span>
        </i>
            <i class="ref1">
            <span class="material-symbols-outlined">
                arrow_back
               </span>
        </i>
            <i class="ref2">
            <span class="material-symbols-outlined">
                circle
                </span>
        </i>
            <span class="image-text2">Name
            
        </span>
            <i class="ref3">
            <span class="material-symbols-outlined">
                list
                </span>
        </i>
        </div>
    </div>
    <div class="every">
        <div class="all name">
            <div class="col">
                <i class="name1c">
        <span class="material-symbols-outlined">
            circle
         </span>
        </i>
                <span class="name1">Name1
        <h3 class="h3">Hi how are you
             
        </h3>
    </span>
                <i class="name2c">
        <span class="material-symbols-outlined">
            circle
         </span>
    </i>
                <span class="name2">Name2
        <h3 class="h4">I am fine</h3>
    </span>

                <i class="name3c">
        <span class="material-symbols-outlined">
            circle
         </span>
    </i>
                <span class="name3">Name3
        <h3 class="h5">In a review</h3>
    </span>
            </div>
            <!-- <div class="boxx">
        Hi

    </div> -->
        </div>
    </div>
</div>