<div class="box1">
    <div class="box2">
        <div class="firstdiv">
            <img src="https://pluspng.com/img-png/google-logo-png-revised-google-logo-1600.png">
            <div class="logo">
                <p id="logo1">Recover your password</p>
                <p>Enter your gmail for validation</p>
            </div>
        </div>
        <div class="seconddiv">
            <div class="reset">
                <input id="emailphone" type="text" placeholder="Email or Phone*">
            </div>
            <div class="sendbutton">
                <button>Send</button>
            </div>
        </div>
    </div>
</div>