<div [style.background]="data.addColor">
    <div class="text-Title">
        <mat-card-title><input matInput [(ngModel)]="title" [style.background]="data.addColor" class="inputtitle">
        </mat-card-title>
        <div class="kee1"> <span class="material-symbols-outlined">
            keep
            </span>
        </div>

    </div>
    <div class="text-body">
        <input matInput [style.background]="data.addColor" [(ngModel)]="description" class="inputdesc">
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between end" class="icons">
        <div class="icons">
            <app-icons></app-icons>
            <button class="six">
                <span class="material-symbols-outlined">
                    undo
                    </span>
            </button>
            <button class="seven">
                <span class="material-symbols-outlined">
                    redo
                    </span>
            </button>
            <button mat-icon-button class="close" (click)="closeDialog()" style="opacity: 0.9; background: none; border: none;">
                Close
            </button>
        </div>
    </div>
</div>